@import '../../scss/variables';

.pagination {
  display: flex;
  font-size: 16px;
  font-weight: bold;

  li {
    margin-right: 10px;

    a {
      cursor: pointer;
      border: 1px solid $orange;
      color: $orange;
      padding: 10px;
      border-radius: 15px;
      transition: all 0.3s;
    }

    a:hover {
      background-color: $orange;
      color: white;
    }
  }

  :global {
    .selected {
      a {
        background-color: $orange;
        color: white;
      }
    }
  }
}