.cart {
  position: relative;
  top: -2px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.trash {
  width: 20px;
  height: 20px;
  background-color: gray;
  mask-image: url("../../assets/img/trash.svg");
  opacity: 0.6;
  transition: all 0.15s ease-in-out;
}

.arrow {
  margin-right: 12px;
}